<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>
        {% block title %}
        {% endblock %}
    </title>
    <style>
      body {
      background-color: #1e2c38;
      color: white
      }
      .center-text {
            text-align: center;
      }
      .checkbox-styling {
            width: 25px;
            height: 25px;
            background-color: #ba9ffb;
        }
      .custom-container {
            background-color: #34404b;
            padding-bottom: 70px;
        }
      .custom-text{
            color: #9bcefa;
            padding-bottom: 5px;
            font-weight : 500;
            font-size:18px;
        }
       .custom-text-nopad{
            color: #9bcefa;
            font-weight : 500;
            font-size:18px;
        }
      .cutom-flash{
            position: fixed;
            top: 56px;
            width: 100%;
        }



   </style>
    <script>
        function createAlert(message, category) {
            var existingAlert = document.getElementById("customAlert");
            var sheets = document.getElementById("sheets");
            var yahya = document.getElementById("yahya");
            var youssef = document.getElementById("youssef");
            var rania = document.getElementById("rania");
            var empty = document.getElementById("empty");
            console.log(yahya.value)
            if (!existingAlert && sheets.value && (yahya.checked || youssef.checked || rania.checked || empty.checked)) {
            // Create alert container
            var alertContainer = document.createElement("div");
            alertContainer.className = "cutom-flash alert alert-" + category + " alert-dismissible fade show";
            alertContainer.setAttribute("role", "alert");
            alertContainer.id = "customAlert";

            // Create alert message
            var alertMessage = document.createTextNode(message);
            alertContainer.appendChild(alertMessage);

            // Create close button
            var closeButton = document.createElement("button");
            closeButton.type = "button";
            closeButton.className = "btn-close";
            closeButton.setAttribute("data-bs-dismiss", "alert");
            closeButton.setAttribute("aria-label", "Close");
            closeButton.onclick = function() {
                alertContainer.style.display = "none";
            };

            // Append close button to the alert container
            alertContainer.appendChild(closeButton);

            // Append the alert container to the body
            document.body.appendChild(alertContainer);}
        }
        //------------------------------------------------------------------
        //------------------------------------------------------------------
        var inactivityTimeout;
        var inactivityThreshold = 900000; // 5 minutes (in milliseconds)

        function resetInactivityTimer() {
            clearTimeout(inactivityTimeout);
            inactivityTimeout = setTimeout(logoutUser, inactivityThreshold);
        }

        function logoutUser() {
            // Perform the logout action
            // You may want to send a request to the server to handle the logout
            console.log("User has been inactive. Logging out...");

            // Redirect to the logout route on the server
            window.location.href = '/inacitvelogout';
        }

        // Reset the timer on user interaction
        document.addEventListener('mousemove', resetInactivityTimer);
        document.addEventListener('keypress', resetInactivityTimer);
        document.addEventListener('scroll', resetInactivityTimer);
        document.addEventListener('click', resetInactivityTimer);

        // Initial setup of the inactivity timer
        resetInactivityTimer();
        //------------------------------------------------------------------
        //------------------------------------------------------------------
        function requestRedirect(url, adminID, userCodeID, rejectID) {
        var admin = document.getElementById(adminID).checked;
        var userCode = document.getElementById(userCodeID).value;
        var reject = document.getElementById(rejectID).checked;
        var finalurl = url+"&admin="+admin+"&userCode="+userCode+"&reject="+reject;
        window.location.href = finalurl;
        }
        //------------------------------------------------------------------
        //------------------------------------------------------------------
        function userRedirect(url, adminID, userCodeID) {
        var admin = document.getElementById(adminID).checked;
        var userCode = document.getElementById(userCodeID).value;
        var finalurl = url+"&admin="+admin+"&userCode="+userCode;
        window.location.href = finalurl;
        }
        //------------------------------------------------------------------
        //------------------------------------------------------------------
        function deleteUser(url) {
        var finalurl = url+"&delete="+"True";
        window.location.href = finalurl;
        }
        //------------------------------------------------------------------
        //------------------------------------------------------------------
        function togglePassword(passFieldID){
        var passField = document.getElementById(passFieldID);
        if (passField.type === "password") {
            passField.type = "text";
        }
        else {
            passField.type = "password"
        }
        }
</script>
  </head>
  <body>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-md navbar-dark " style="background-color: #4a5560">
      <a class="navbar-brand" href="{{url_for('home_page')}}">&nbsp;&nbsp;Automator</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% block homeActive %} {% endblock %}"  href="{{url_for('home_page')}}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% block customActive %} {% endblock %}" href="{{url_for('custom_page')}}">Custom</a>
            </li>
        </ul>
        {% if current_user.is_authenticated %}

        {% if current_user.is_admin %}
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link {% block requestsActive %} {% endblock %}" href="{{url_for('request_page')}}">Requests</a>
            </li>
          </ul>
           <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link {% block usersActive %} {% endblock %}" href="{{url_for('users_page')}}">Users</a>
            </li>
          </ul>
        {% endif %}
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('logout_page')}}">Logout</a>
            </li>
          </ul>
        {% else %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link {% block loginActive %} {% endblock %}" href="{{url_for('login_page')}}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% block registerActive %} {% endblock %}" href="{{url_for('register_page')}}">Register</a>
            </li>
        </ul>
        {% endif %}

      </div>
    </nav>




    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% set category = 'danger' if message[0] == "Please sign in first" else category %}
               <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                  {{message[0]}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>
    <div class="center-text">
        <img class="mb-4" src="https://cdn-icons-png.flaticon.com/512/8635/8635552.png" width="150" height="150">
    </div>

    {% block body %}
    {% endblock %}

    <!-- Optional JavaScript; choose one of the two! -->

  </body>
</html>